{% extends "base.html" %}

{% block title %}Flasky - identificacao{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Olá, {{name}}</h2>
        <h3>Prontuário: {{prontuario}}</h3>
        <h3>Instituição: {{instituicao}}</h3>

    """.format(menu(), name="Karoline Keller", prontuario="PT3014541", instituicao="IFSP")
</div>
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}
